@keyframes moveInLeft {
  /* Animation move-in from left */
  0% {
    /* Animation start */
    opacity: 0;
    transform: translateX(-10rem);
    /* Initial x pos */ }
  /* Additional area for animation customization */
  80% {
    transform: translateX(1rem);
    /* Overshoots final x pos to give snap-in-place effect */ }
  100% {
    /* Animation end */
    opacity: 1;
    transform: translateX(0);
    /* Final x pos */ } }

@keyframes moveInRight {
  /* Animation move-in from right */
  0% {
    /* Animation start */
    opacity: 0;
    transform: translateX(10rem);
    /* Initial x pos */ }
  /* Additional area for animation customization */
  80% {
    transform: translateX(-1rem);
    /* Overshoots final x pos to give snap-in-place effect */ }
  100% {
    /* Animation end */
    opacity: 1;
    transform: translateX(0);
    /* Final x pos */ } }

@keyframes moveInBottom {
  /* Animation move-in from Bottom */
  0% {
    /* Animation start */
    opacity: 0;
    transform: translateY(3rem);
    /* Initial y pos */ }
  /* Additional area for animation customization */
  100% {
    /* Animation end */
    opacity: 1;
    transform: translateY(0);
    /* Final y pos */ } }

*,
*::after,
*::before {
  margin: 0;
  /* Removes base margin on page */
  padding: 0;
  /* Removes base padding on page */
  box-sizing: inherit;
  /* Automatically inherits whatever is put in borderbox in body; changes box model so that borders and paddings are no longer added */ }

html {
  font-size: 62.5%;
  /* We use 62% of 16px, ie. 10px, as the root font-size so that 1rem=10px exactly */ }

body {
  box-sizing: border-box;
  /*changes box model so that borders and paddings are no longer added */ }
