@keyframes moveInLeft {				/* Animation move-in from left */
	0% {												/* Animation start */
		opacity: 0;
		transform: translateX(-10rem);				/* Initial x pos */
	}

															/* Additional area for animation customization */

	80% {
		transform: translateX(1rem);				/* Overshoots final x pos to give snap-in-place effect */
	}														

	100% {											/* Animation end */
		opacity: 1;
		transform: translateX(0);							/* Final x pos */
	}
}

@keyframes moveInRight {				/* Animation move-in from right */
	0% {												/* Animation start */
		opacity: 0;
		transform: translateX(10rem);				/* Initial x pos */
	}

															/* Additional area for animation customization */

	80% {
		transform: translateX(-1rem);				/* Overshoots final x pos to give snap-in-place effect */
	}

	100% {											/* Animation end */
		opacity: 1;
		transform: translateX(0);							/* Final x pos */
	}
}

@keyframes moveInBottom {				/* Animation move-in from Bottom */
	0% {												/* Animation start */
		opacity: 0;
		transform: translateY(3rem);				/* Initial y pos */
	}

															/* Additional area for animation customization */

	100% {											/* Animation end */
		opacity: 1;
		transform: translateY(0);							/* Final y pos */
	}
}